:root {
    font-size: 62.5%;
}

* {
    outline: solid 2px red;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #202020;
    overflow-x: hidden;
}

header {
    background-color: #202020;
    padding: 2rem;
    overflow: auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    float: left;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    padding-left: 6rem;
    background-size: contain;
}

nav {
    float: right;
    margin-top: 0.5rem;
}

nav li {
    display: inline;
    margin: 0 1rem;

}

nav li a {
    color: #FFF;
    text-decoration: none;
}

figure {
    float: left;
    width: 100vw;
}

figure img {
    display: block;
    border-top: solid white 0.2rem;
    width: 100vw;
}

figure figcaption {
    background-color: #252431;
}

figure h2 {
    color: #FFF;
    font-size: 5rem;
    font-weight: 600;
    padding: 2rem;
}

#noticias_destacadas {
    overflow: auto;
    width: 300vw;
    animation: 15s slider infinite alternate-reverse;
}

@keyframes slider {
    0% { margin-left: 0}
    20% {margin-left: 0}
    40% {margin-left: -100vw}
    60% {margin-left: -100vw}
    80% {margin-left: -200vw}
    100% {margin-left: -200vw}
    }
