/*Hola de estilo principal*/

p {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    line-height: 200%;
}

#titulo-principal {
color: blueviolet; 
font-family: Arial;
font-size: 40px;
text-align: center;
}

.impares {
    font-family: tahoma;
    background-color: papayawhip;
    color: black;
    text-align: left;
}

a {
    color: #127485;
    text-decoration: none;
    font-weight: bold;
    background-color: coral;
}

a:hover {
    color: coral;
    background-color: #127485;
}