:root {
    font-size: 62.5%;
}

/* {
    outline: solid 2px red;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #202020;
    overflow-x: hidden;
}

/* HEADER */

header {
    background-color: #202020;
    padding: 2rem;
    overflow: auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    float: left;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    padding-left: 6rem;
    background-size: contain;
}

button {
    display: none;
}

nav {
    float: right;
    margin-top: 0.5rem;
}

nav li {
    display: inline;
    margin: 0 1rem;

}

nav li a {
    color: #FFF;
    text-decoration: none;
}




/* NOTICIAS DESTACADAS */

figure {
    float: left;
    width: 100vw;
}

img {
    display: block;
    border-top: solid white 0.2rem;
    width: 100%;
}

figure figcaption {
    display: block;
    background-color: #252431;
    min-height: 15rem;
}

figure h2 {
    color: #FFF;
    font-size: 5rem;
    font-weight: 600;
    padding: 2rem;
}

#noticias_destacadas {
    overflow: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    

    animation: 15s slider infinite alternate-reverse;
    
}





/* ULTIMAS NOTICIAS */

.noticia-img {
    width: 30%;
}

.noticia-txt {
    width: 65%;
    font-weight: bold;
    font-size: 2rem;
    line-height: 150%;
    font-weight: 100;
}

.noticia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 30rem;
}

h3 {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 1rem 0;
    line-height: 110%;
}

.noticia p:nth-of-type(1) {
    line-height: 150%;
}

.noticia p:nth-of-type(1) a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.noticia p:nth-of-type(2) {
    line-height: 150%;
    padding: 1.5rem 0;
}

#ultimas_noticias hr {
    margin: 1rem 2rem;
    height: 0.1rem;
    border: none;
    background-color: #999;
}


/* TABLA DE RESULTADOS */

#tabla_resultados table {
    margin: auto;
}

#tabla_resultados table th {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
}

#tabla_resultados table tr {
    background-color: rgb(219,216,212);
}

#tabla_resultados table td {
    line-height: 2.5rem;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-top: solid #999 0.1rem;
}

#tabla_resultados table td:nth-of-type(odd) {
    font-size: 3rem;
    color: #222222;
    font-weight: 600;
}

#tabla_resultados table td:nth-of-type(even) {
    min-width: 25rem;
}

#tabla_resultados table td a {
    color: rgb(27, 107, 131);
    font-weight: 600;
    text-decoration: none;
}

@keyframes slider {
    0% { margin-left: 0}
    20% {margin-left: 0}
    40% {margin-left: -100vw}
    60% {margin-left: -100vw}
    80% {margin-left: -200vw}
    100% {margin-left: -200vw}
    }

    @media screen and (max-width: 600px) {
        /*INICIO @MEDIA-QUERY HASTA 600PX*/
        .noticia {
            flex-direction: column;
        }

        .noticia-img, .noticia-txt {
            width: 90%;
        }
        
        h3 {
            font-size: 3rem;
        }

        nav {
            display: none;
            float: none;
            clear: left;
        }

        nav ul li {
            display: block;
            text-align: center;
            padding: 1.2rem;
        }

        button {
            display: block;
            color: white;
            float: right;
            font-size: 2rem;
            line-height: 1;
            background-color: transparent;
            border: none;
            padding: 0.5rem;
        }

        button:focus + nav {
            display: block;
        }

        /*FIN @MEDIA-QUERY HASTA 600PX*/